#container {
  padding: 40px;
  padding-bottom: 0px;
}
#menu-container {
  display: flex;
  justify-content: space-between;
}
.menu {
  margin-left: 10px;
  color: rgb(2, 120, 28);
  font-size: 20px;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  padding-bottom: 5px;
}

.menu:hover {
  border-bottom: 5px solid rgb(2, 120, 28);
}
