#container {
  padding: 40px;
  padding-bottom: 0px;
}

#container #menu-container {
  display: flex;
  justify-content: space-between;
}

#menu-container .menu {
  margin-left: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 5px;

  color: rgb(2, 120, 28);
  font-size: 20px;
  text-decoration: none;
  line-height: 35px;
}

#menu-container .menu:hover {
  border-bottom: 5px solid rgb(2, 120, 28);
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#left-container {
  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 0px;

  border-right: 1px solid #ccc;
  width: calc(68% - 80px);
  color: #414141;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  line-height: 32px;
  font-size: 20px;
}

#right-container {
  padding: 20px;
  padding-right: 10px;
  padding-bottom: 0px;

  width: calc(32% - 51px);
  color: #414141;
  line-height: 32px;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}

#left-container #title {
  margin-bottom: 10px;

  color: rgb(48, 48, 48);
  font-size: 36px;
  font-weight: 400;
  line-height: 45px;
}

#left-container #survey-from {
  width: 100%;
}

#left-container .content-2 {
  margin-top: 20px;
  margin-bottom: 10px;

  color: rgb(0, 0, 0);
  font-size: 30px;
  font-weight: 400;
  line-height: 37px;
}

#left-container .content-3 {
  margin-bottom: 20px;
}

#left-container .content-4 {
  color: #02781c;
  line-height: 32px;
}

#left-container #content-5 {
  margin-bottom: 20px;

  font-size: 17px;
}

#left-container #button-twitter {
  padding: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: 10px;
  border-radius: 25px;

  background-color: #4099ff;
  color: #fff;
  text-decoration: none;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 17px;
}

#left-container #button-facebook {
  padding: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: 10px;
  border-radius: 25px;

  background-color: #3b5998;
  color: #fff;
  text-decoration: none;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 17px;
}

#left-container #button-kofi {
  padding: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 25px;

  background-color: #6a1b9a;
  color: #fff;
  text-decoration: none;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 17px;
}

#right-container #content {
  margin-top: 20px;
  margin-bottom: 10px;

  color: rgb(49, 49, 49);
  font-weight: 700;
  font-size: 20px;
}

#right-container .content-1 {
  margin-bottom: 20px;

  font-size: 20px;
  color: #414141;
  line-height: 32px;
}

#right-container .button-SUBSCRIBE {
  padding: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;

  display: inline;
  background-color: #2b8a3e;
  color: #fff;
  text-decoration: none;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  width: 128px;
  height: 24px;
  align-items: flex-start;
}
