#outermost {
  margin: 10px;
}

#outermost #outside {
  margin-top: 20px;
  padding-top: 25px;
  padding-bottom: 25px;

  background-color: rgb(250, 250, 210);
}

#outside #survey-from {
  margin-left: 100px;
  margin-right: 100px;

  background-color: rgb(255, 255, 255);
  border: rgb(204, 204, 204) solid 1px;
  font-size: 20px;
  border-radius: 15px;
  font-family: "Anaheim";
}
#survey-from #title {
  margin-top: 20px;
  margin-bottom: 20px;

  text-align: center;
  font-size: 30px;
  font-weight: 700;
}

#survey-from .content {
  margin-left: 20px;
  margin-bottom: 20px;
}

#survey-from .content-1 {
  font-weight: 700;
}

#survey-from #borders {
  margin: 30px;
  padding: 15px;
  padding-top: 5px;
  padding-bottom: 10px;

  position: relative;
  border: rgb(211, 211, 211) solid 1px;
}

#borders #title-1 {
  position: relative;
  border: rgb(211, 211, 211) solid none;
  background-color: white;
  width: fit-content;
  z-index: 99;
  top: -20px;
  right: -15px;
  font-weight: 700;
}
#borders .content-2 {
  margin-bottom: 20px;
}

#borders .content-3 {
  color: rgb(118, 118, 118);
}

#borders .content-4 {
  width: 150px;
}

#borders .content-5 {
  margin-bottom: 0;
}
#borders .content-6 {
  display: inline;
}
#borders #button {
  margin: 10px;
  padding: 5px;

  background-color: rgb(255, 0, 0);
  color: white;
  border: white;
  font-weight: 400;
}

#survey-from #borders-1 {
  margin: 30px;
  padding: 15px;
  padding-top: 5px;
  padding-bottom: 10px;
  text-align: center;
}

#button-1 {
  margin: 10px;
  padding: 5px;

  background-color: rgb(255, 0, 0);
  align-items: flex-start;
  color: white;
  border: white;
  font-weight: 400;
}
