#outermost {
  background-color: #a9d7e9;
}

#outermost .title {
  margin-top: 30px;
  margin-bottom: 30px;

  font-size: 48px;
  width: 800;
  text-align: center;
}

#outermost #outline {
  margin-left: 260px;
  margin-right: 260px;
  padding: 20px;
  padding-left: 10px;
  padding-right: 10px;

  background-color: #f3f3f3;
  border-radius: 10px;
  font-size: 22px;
}
#outline .title-1 {
  margin-top: 20px;
  margin-bottom: 20px;

  text-align: center;
}
#outline .title-2 {
  padding: 5px;
  margin-top: 10px;

  display: inline-block;
  font-size: 17px;
  width: 320px;
  text-align: right;
}
#outline .content {
  margin: 10px;
  padding: 5px;

  background-color: rgb(255, 255, 255);
  border: rgb(192, 192, 192) solid 1px;
  border-radius: 5px;
  width: 290px;
  height: 25px;
}

#outline .content-1 {
  margin: 10px;
  padding: 5px;

  background-color: rgb(255, 255, 255);
  border: rgb(192, 192, 192) solid 1px;
  border-radius: 5px;
  width: 140px;
  height: 25px;
}
#outline .title-phrase {
  display: flex;
}

#outline .content-2 {
  padding: 5px;
  margin-top: 10px;

  display: flex;
  flex-direction: column;
  font-size: 17px;
}

#outline .content-3 {
  margin-bottom: 10px;
}

#outline .title-phrase-1 {
  display: inline-flex;
}
#outline .content-4 {
  margin: 10px;
  padding: 5px;

  border: rgb(192, 192, 192) solid 1px;
  border-radius: 5px;
  width: 290px;
  height: 60px;
}

#outline .content-5{
  display:block;
  text-align: center;
}
#outline #button {

text-align: center;
align-items: center;
