#container {
  padding: 40px;
  padding-bottom: 0px;
  padding-right: 20px;

  font-size: 20px;
  color: #414141;
  font-family: "Roboto", Helvetica, Arial, sans-serif;
}

#container #menu-container {
  display: flex;
  justify-content: space-between;
}

#menu-container .menu {
  margin-left: 10px;
  padding-bottom: 5px;
  padding: 10px;
  padding-top: 0px;

  color: rgb(2, 120, 28);
  text-decoration: none;
  line-height: 35px;
}

#menu-container .menu:hover {
  border-bottom: 5px solid rgb(2, 120, 28);
}

main {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#left-container {
  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 0px;

  border-right: 1px solid #ccc;
  width: calc(70% - 80px);

  line-height: 32px;
}

#right-container {
  padding-top: 20px;

  width: calc(30% - 51px);
  line-height: 32px;
}

#left-container #title {
  margin-bottom: 10px;

  color: rgb(48, 48, 48);
  font-size: 36px;
  font-weight: 400;
  line-height: 45px;
}

#left-container #survey-from {
  width: 100%;
}

#left-container .content-2 {
  margin-top: 20px;
  margin-bottom: 10px;

  font-size: 30px;
  font-weight: 400;
  line-height: 37px;
}

#left-container .content-3 {
  margin-bottom: 20px;
}

#left-container .content-4 {
  color: #02781c;
  line-height: 32px;
}

#left-container #content-5 {
  margin-bottom: 20px;

  font-size: 17px;
}

#left-container #twitter-button {
  padding: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: 10px;

  border-radius: 25px;
  background-color: #4099ff;
  color: #fff;
  text-decoration: none;
  font-size: 17px;
}

#left-container #facebook-button {
  padding: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-right: 10px;

  border-radius: 25px;
  background-color: #3b5998;
  color: #fff;
  text-decoration: none;
  font-size: 17px;
}

#left-container #kofi-button {
  padding: 15px;
  padding-top: 5px;
  padding-bottom: 5px;

  border-radius: 25px;
  background-color: #6a1b9a;
  color: #fff;
  text-decoration: none;
  font-size: 17px;
}

#right-container #content {
  margin-top: 20px;
  margin-bottom: 10px;

  color: rgb(49, 49, 49);
  font-weight: 700;
}

#right-container .content-1 {
  margin-bottom: 20px;

  color: #414141;
}

#right-container .subscribe-button {
  padding-left: 10px;
  padding-right: 10px;

  border-radius: 5px;
  background-color: #2b8a3e;
  color: #fff;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  width: 128px;
  height: 44px;
}

#right-container #content-5 {
  padding-bottom: 30px;

  border-bottom: 3px solid rgba(2, 120, 28, 0.39);
  line-height: 32px;
}

#right-container .content-6 {
  margin-bottom: 20px;

  line-height: 32px;
}

#right-container .content-7 {
  color: #02781c;
  text-decoration: none;
}

#right-container #content-8 {
}

#right-container #content-9 {
  margin-top: 20px;
  margin-bottom: 10px;

  color: rgb(0, 0, 0);
  font-size: 30px;
  font-weight: 400;
  line-height: 37px;
}

#right-container .content-10 {
  color: #02781c;
  text-decoration: none;
}

#right-container .content-11 {
  color: #999;
  font-size: 16px;
}

#right-container .content-11:hover {
  color: #268bd2;
}

#right-container .content-12:hover a,
#right-container .content-12:hover .content-11 {
  color: #268bd2;
}
#right-container .content-12 {
  padding-bottom: 20px;
}

#between-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  text-align: center;
  align-items: center;
}

#between-container #content-13 {
  margin-top: 20px;
  margin-bottom: 10px;
  padding-top: 20px;

  color: #313131;
  font-weight: 700;
}

#between-container #content-14 {
  padding-bottom: 20px;

  color: #313131;
}

#between-container #subscribe-button-1 {
  padding-left: 10px;
  padding-right: 10px;
  margin-bottom: 20px;

  border-radius: 5px;
  background-color: #2b8a3e;
  color: #fff;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  width: 128px;
  height: 44px;
}

#between-container #buy-me-a-coffee-button {
  margin-bottom: 10px;
  padding: 20px;
  padding-left: 10px;
  padding-right: 10px;

  border-radius: 5px;
  color: #fff;
  text-decoration: none;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  width: 174px;
  background-color: #2b8a3e;
}

#between-container .content-16 {
  padding: 25px;
  padding-top: 15px;
  padding-bottom: 15px;
  margin-left: 10px;
  margin-right: 10px;

  color: #02781c;
  font-size: 16px;
  line-height: 25px;
  text-decoration: none;
}

#between-container #content-15 {
  margin-bottom: 20px;
  margin-top: 20px;

  font-size: 16px;
  color: #414141;
  line-height: 25px;
}
