#background {
  background-color: #eee;
}

#header {
  padding-left: 20px;
  padding-right: 20px;

  display: flex;
  justify-content: space-between;
}

#header #logo {
  height: 34px;
  width: 300px;
}
