#background {
  background-color: #eee;
  font-family: "Lato", sans-serif;
}

#background #header {
  margin-left: 20px;
  margin-right: 20px;
  padding: 20px;

  display: flex;
  justify-content: space-between;
}

#header #logo {
  height: 34px;
  width: 300px;
}

#header #menu {
  display: flex;
  justify-content: space-around;
  width: 480px;
}

#background #title-phrase {
  text-align: center;
}

#title-phrase #title {
  font-size: 24px;
}

#title-phrase #input-email {
  padding: 5px;

  width: 275px;
}

#title-phrase #input-submit {
  margin-top: 15px;
  margin-bottom: 15px;
  padding-left: 20px;
  padding-right: 20px;

  background-color: #f1c40f;
  font-family: Arial;
  font-weight: 900;
  font-size: 16px;
  height: 30px;
  width: 150px;
  border: black solid 0px;
}

#title-phrase #input-submit:hover {
  background-color: orange;
}
